<p>contacto works!</p>


<form>
    <label for="txtCedula">Cédula</label>-
    <input id="txtCedula" name="txtCedula" [(ngModel)]="persona.id"/>
    <br>
    <label for="txtCedula">Nombre</label>
    <input id="txtNombre" name="txtNombre" [(ngModel)]="persona.name"/>
    <br>
    <label for="txtNombre">Apellido</label>
    <input id="txtNombre" name="txtNombre" [(ngModel)]="persona.Apellido"/>
    <br>
    <label for="txtFecha">Fecha</label>
    <input id="txtFecha" name="txtFecha" [(ngModel)]="persona.Fecha"/>
    <br>
    
    <button (click)="savePersona()">Guardar</button>
</form>

<button (click)="goAcerca()">Acerca de</button>
<button (click)="goListado()">Listado</button>

